<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.QuitDao">
	<!-- 记录离职员工 -->
	<insert id="addQuitStaff"  parameterType="Quit">
		insert into quit values(null,#{staff_id},#{sname},#{qtype},#{qdate},now())
	</insert>
	<!-- 查询离职员工 -->
	<select id="selectQuitStaff" resultType="Quit">
		select *,DATE_FORMAT(qdate,'%Y-%m-%d') as qdate1,DATE_FORMAT(opdate,'%Y-%m-%d') as opdate1 from quit
	</select>
	<!-- 查询员工是否已离职 -->
	<select id="selectIsQuit" resultType="Quit" parameterType="Quit">
		select * from quit where staff_id = #{staff_id}
	</select>
	<!-- 条件查询离职员工 -->
	<select id="selectQuitCon" resultType="Quit" parameterType="Quit">
		select *,DATE_FORMAT(qdate,'%Y-%m-%d') as qdate1,DATE_FORMAT(opdate,'%Y-%m-%d') as opdate1 from quit
		where 1=1
		<if test="sname != null and sname != ''">
		  		and sname like concat('%',#{sname},'%') 
		  </if>
		  <if test="staff_id != null and staff_id != 0">
		  		and staff_id = #{staff_id} 
		  </if>
		  <if test="qtype != null and qtype != ''">
		  		and qtype = #{qtype} 
		  </if>
		  <if test="startdate != null and enddate != null" >
		  		and date(qdate ) between #{startdate} and #{enddate} 
		  </if>
	</select>
	<select id="selectAQuitName" resultType="string" parameterType="Quit">
		select sname from staff where id = #{staff_id}
	</select>
</mapper>