<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StaffDao">
	<!-- 录入员工 -->
	<insert id="addStaff"  parameterType="Staff">
		insert into staff values (null, #{sname}, #{sex}, #{birthday}, #{sid}, 
		#{depart_id}, #{post_id}, #{entrydate}, #{joinworkdate}, #{workform}, #{staffsource},
		 #{politicalstatus}, #{nation}, #{nativeplace}, #{stel}, #{semail}, #{sheight},
		 #{bloodtype}, #{maritalstatus}, #{registeredresidence}, #{education}, #{degree}, #{university},
		 #{major}, #{graduationdate},#{startdate},#{enddate}
		 <if test="startdate != null">
		  		,'正常' 
		  </if>
		  <if test="startdate == null">
		  		,#{status} 
		  </if>
		  ,#{peroidopdate}
		 )
	</insert>
	<!-- 查询所有员工 -->
	<select id="selectAllStaff" resultType="Staff">
		select * from staff s, department d, post p where s.depart_id = d.id and s.post_id = p.id;
	</select>
	<!-- 查询已转正员工 -->
	<select id="selectOkStaff" resultType="Staff">
		select *,DATE_FORMAT(s.startdate,'%Y-%m-%d') as startdate1 ,DATE_FORMAT(s.enddate,'%Y-%m-%d') as enddate1   from staff s, department d, post p where s.depart_id = d.id and s.post_id = p.id and s.status = '转正';
	</select>
	<!-- 条件查询转正员工 -->
	<select id="staffOkSelectCon" resultType="Staff">
		select *,DATE_FORMAT(s.startdate,'%Y-%m-%d') as startdate1 ,DATE_FORMAT(s.enddate,'%Y-%m-%d') as enddate1  from staff s, department d, post p where s.depart_id = d.id and s.post_id = p.id and s.status = '转正' 
		  <if test="sname != null and sname != ''">
		  		and s.sname like concat('%',#{sname},'%') 
		  </if>
		  <if test="depart_id != 0">
		  		and s.depart_id = #{depart_id} 
		  </if>
		  <if test="startdate != null and enddate != null" >
		  		and date(s.startdate ) between #{startdate} and #{enddate} 
		  		and date(s.enddate ) between #{startdate} and #{enddate} 
		  </if>
	</select>
	<!-- 查询一个员工信息 -->
	<select id="selectAStaff" resultType="Staff" parameterType="Integer">
		select *,DATE_FORMAT(s.birthday,'%Y-%m-%d') as birthday1,DATE_FORMAT(s.entrydate,'%Y-%m-%d') as entrydate1,
		DATE_FORMAT(s.joinworkdate,'%Y-%m-%d') as joinworkdate1,DATE_FORMAT(s.graduationdate,'%Y-%m-%d') as graduationdate1
		,DATE_FORMAT(s.startdate,'%Y-%m-%d') as startdate1 ,DATE_FORMAT(s.enddate,'%Y-%m-%d') as enddate1  from staff s, department d, post p where s.id = #{id} and s.depart_id = d.id and s.post_id = p.id;
	</select>
	<!-- 条件查询员工 -->
	<select id="selectStaffCon" resultType="Staff">
		select * from staff s, department d, post p where s.depart_id = d.id and s.post_id = p.id 
		<if test="sname != null and sname != ''">
		  		and s.sname like concat('%',#{sname},'%') 
		  </if>
		  <if test="depart_id != 0">
		  		and s.depart_id = #{depart_id} 
		 </if>
	</select>
	<!-- 试用期管理查询 -->
	<select id="selectPeriodStaff" resultType="Staff">
		select *,DATE_FORMAT(s.startdate,'%Y-%m-%d') as startdate1 ,DATE_FORMAT(s.enddate,'%Y-%m-%d') as enddate1 from staff s, department d, post p where s.depart_id = d.id and s.post_id = p.id and s.startdate IS NOT NULL  and s.enddate IS NOT NULL ;
	</select>
	<!-- 条件查询试用期管理 -->
	<select id="selectPeriodStaffCon" resultType="Staff">
		select * from staff s, department d, post p where s.depart_id = d.id and s.post_id = p.id 
		 <if test="sname != null and sname != ''">
		  		and s.sname like concat('%',#{sname},'%') 
		 </if>
		 <if test="depart_id != 0">
		  		and s.depart_id = #{depart_id} 
		 </if>
		 <if test="post_id != 0">
		 		and s.post_id = #{post_id} 
		 </if>
		 <if test="status != null and status != ''">
		  		and s.status = #{status} 
		 </if>
		 <if test="startdate != null and enddate != null" >
		  		and date(s.startdate ) between #{startdate} and #{enddate} 
		  		and date(s.enddate ) between #{startdate} and #{enddate} 
		 </if>
	</select>
	<!-- 试用期管理操作 -->
	<update id="peroidOp" parameterType="map">
		update staff 
		<set>
			status = #{status},
			peroidopdate = now()
		</set>
		where id=#{id}
	</update>
	<!-- 修改一个员工信息 -->
	<update id="updateStaff" parameterType="Staff">
		update staff 
		  <set>
		  	sname = #{sname},
		  	sex =  #{sex},
		  	birthday = #{birthday},
		  	sid = #{sid},
		  	depart_id =  #{depart_id},
		  	post_id = #{post_id},
		  	entrydate =  #{entrydate},
		  	joinworkdate = #{joinworkdate},
		  	workform =  #{workform},
		  	staffsource = #{staffsource},
		  	politicalstatus =  #{politicalstatus},
		  	nation = #{nation},
		  	nativeplace =  #{nativeplace},
		  	stel = #{stel},
		  	semail =  #{semail},
		  	sheight = #{sheight},
		  	bloodtype =  #{bloodtype},
		  	maritalstatus = #{maritalstatus},
		  	registeredresidence =  #{registeredresidence},
		  	education = #{education},
		  	degree =  #{degree},
		  	university = #{university},
		  	major =  #{major},
		  	graduationdate = #{graduationdate},
		  	startdate = #{startdate},
			enddate = #{enddate}
		  </set>
		  where id = #{id}
	</update>
</mapper>